﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>


    <div class="container-fluid" style="background-image:url(../../Content/image/arka.jpg)">
        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-default" style="height:60px;margin-top:4px">
                    <div class="container-fluid" style="margin-top:4px ">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <img class="img-responsive" src="~/Content/image/denem.png" alt="" style="width:100%;background-color:white">
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <div class="nav navbar-nav navbar-right">
                                <button class="active btn-success">

                                    <i class="btn btn-success">Sisteme giriş</i>
                                </button>
                            </div>
                            <form class="navbar-form navbar-right" style="margin-right:35px">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Oyuncu ara">
                                </div>
                                <button type="submit" class="btn btn-info">Bul</button>
                            </form>



                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>


            <div class="container body-content">
                @RenderBody()
                <hr />

            </div>
            <footer>
                <h1>&copy; @DateTime.Now.Year - VB PROJECT</h1>
            </footer>


        </div>














</body>
</html>
