﻿
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/_Default.cshtml";
}

  <!-- container-->

<div class="row">
    <div class="col-lg-9">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/image/RONALDsO.jpg" alt="" style="margin-left:auto;margin-right:auto;height:500px">
                    <div class="carousel-caption">
                        galatasaray
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/image/m1.jpg" alt="" style="margin-left:auto;margin-right:auto ; height:500px">
                    <div class="carousel-caption">

                    </div>
                </div>

            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-lg-3" style="height:400px">


        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="active btn-danger">Top 10 Liste</h4>
                <ul class="list-group" style="height:400px">

                    <li class="list-group-item">
                        <span class="badge">99</span>
                        Mahmut ARSLAN
                    </li>

                    <li class="list-group-item">
                        <span class="badge">74</span>
                        Veli Bacık2
                    </li>

                    <li class="list-group-item">
                        <span class="badge">75</span>
                        Veli Bacık
                    </li>

                    <li class="list-group-item">
                        <span class="badge">74</span>
                        Veli Bacık2
                    </li>

                    <li class="list-group-item">
                        <span class="badge">75</span>
                        Veli Bacık
                    </li>

                    <li class="list-group-item">
                        <span class="badge">74</span>
                        Veli Bacık2
                    </li>

                    <li class="list-group-item">
                        <span class="badge">75</span>
                        Veli Bacık
                    </li>

                    <li class="list-group-item">
                        <span class="badge">74</span>
                        Veli Bacık2
                    </li>

                    <li class="list-group-item">
                        <span class="badge">75</span>
                        Veli Bacık
                    </li>

                    <li class="list-group-item">
                        <span class="badge">74</span>
                        Veli Bacık2
                    </li>

                </ul>
            </div>
        </div>



    </div>

</div>
<div class="row" style="margin-top:20px">

    <div class="col-lg-1"></div>
    <div class="col-lg-5">

        <div class="jumbotron" style="background-color:transparent">
            <h1> <span class="label label-primary"> Nedir FTS?</span> </h1>

            <blockquote style="margin-top:25px">
                <p style="color:white"> <span class="label label-primary"> Yeteneklerinizi özgürce gösterebileceğiniz bir sosyal platform.</span></p>
                <p style="color:white"><span class="label label-primary">   Kendinizi kanıtlamak için yapmanız gereken kendinizi iyi tanıtmak.</span></p>
                <p style="color:white"><span class="label label-primary"> İçersinde bir çok klüp yetkililerinin bulunduğu sitede bir çok oyuncu ilanı bulunacaktır.</span></p>
            </blockquote>


        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3" style="margin-top:25px">

        <img src="~/Content/image/fotbal.jpg" class="img-circle" alt="best Terre" width="300" height="240">
    </div>


